body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  backround-image: url("https://github.com/StardustDragon74/portfolio/blob/gh-pages/Foto_el_drag%C3%B3n_alado_de_ra.jpg?raw=true");
}

.navbar {
  overflow: hidden;
  background-color: #333:
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

h1 {
  color #3db239 ;
}

.navbar a:hover {
  backround-color: #ddd;
  color:green;
.column {
  width: 100px;
  float: left;
  padding: 10px;
  height: 500px;
}
h2 {
  color #0004ff ;
}
.image
  {
  background-image:url("https://github.com/StardustDragon74/portfolio/blob/gh-pages/Foto_el_drag%C3%B3n_alado_de_ra.jpg?raw=true")
  }
  #slideshow {
    width: 500px;
    height: 500px;
    position: relative;
    padding: 10px;
